{% macro render_blog_post(post, from_index=false, summary=false, only_titles=false) %}
  <div class="blog-post">
  {% if from_index %}
    {% if post.tags[0] %}
      <div class="title"><a href="{{ post|url }}"><span class="ttag">{{ post.tags[0] }}:</span> {{ post.title }}</a></div>
    {% else %}
      <div class="title"><a href="{{ post|url }}">{{ post.title }}</a></div>
    {% endif %}
  {% else %}
    <div class="title-post">{{ post.title }}</div>
  {% endif %}

  <div class="tdate">{{ post.pub_date }} by {{ post.author }}</div>

    {% if summary %}
        {{ post.body.html|truncate(600) }}
        {% if post.body.html|length > 600 %}
            <a href="{{ post|url }}" class="readmore">»read_more»</a>
            {% endif %}
    {% elif only_titles %}
        <div class="blog-post-body"></div>
        {% else %}
        {% if "toc" in post.tags %}
        <ul class="toc">
            {% for item in post.body.toc recursive %}
            <li><a href="#{{ item.anchor }}">{{ item.title }}</a>{%
                if item.children %}<ul>{{ loop(item.children) }}</ul>{% endif %}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="blog-post-body">{{ post.body }}</div>
    {% endif %}
    </div>
{% endmacro %}
