{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  {{ render_blog_post(this) }}
    {% if this.tags %}
      <div class="tags">tags: {% for t in this.tags if t != "toc" -%} <a href="{{ ('/blog@tag/' ~ t.lower())|url }}">{{ t }}</a> {% endfor %}</div>
    {% endif %}
{% endblock %}
