<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ '/static/motw.css'|asseturl }}">
    <link rel="shortcut icon" href="{{ '/static/favicon.png'|asseturl }}">
    <title>{% block title %}.{% endblock %} | Memory of the World</title>
</head>
<body>
  <header>
      <nav>
          <div class="navbar">
              <div type="button" onClick="location.href = '/'" class="motw-arrow"><span class="motw">MEMORY OF THE WORLD&nbsp&nbsp</span></div>
          {% for href, title in [
          ['/blog/tag/librarian', 'LIBRARIAN'],
          ['/blog/tag/catalog', 'CATALOG'],
          ['/blog/tag/library', 'LIBRARY'],
              ] %}<span {% if this.is_child_of(href) %} class="active"{% endif %}><a href="{{ href|url }}">{{ title }}</a></span>{% if not loop.last %}:{% endif %}{% endfor %}:<a href="//library.memoryoftheworld.org">BOOKS</a>
      </div>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
      ⌨ Librarians of MotW ♨ Rendered by Lektor ☭
  </footer>
</body>
