@font-face {
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    src: url("/static/fonts/IBMPlexMono-Regular.woff") format('woff');
}

body {
    font-family: 'IBM Plex Mono';
    color: black;
    background-color: white;
    margin: 1em;
    line-height: 1.5em;
}

img {
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
}

.motw-arrow {
    display: inline-block;
    color: white;
    border: 0.7em solid red;
    border-left: 0;
    border-right: 0.7em solid white;
    height: 0;
    background: red;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 0.2em;
    /* float:right; */
}
.motw {
    display: flex;
    margin-top: -0.45em;
    margin-left: 0.4em;
    font-weight: bold;
    font-size: 1.2em;
}

.navbar, .navbar a {
    font-size: 1.1em;
    border-top: 1em solid white;
    border-bottom: 1em solid white;
    text-decoration: none;
}

header {
    background-color: white;
    display: flex;
    position: sticky;
    top: 0px;
}

.active {
    /* background: gray; */
}

a {
    color:#222;
	  -moz-transition-property:color, background-color, border-color;
    -moz-transition-duration:.15s;
	  -webkit-transition-property:color, background-color, border-color;
    -webkit-transition-duration:.15s;
	  transition-property:color, background-color, border-color;
    transition-duration:.15s;
}

a:before, a:after {
	  -moz-transition-property:color, background-color, border-color;
    -moz-transition-duration:.15s;
	  -webkit-transition-property:color, background-color, border-color;
    -webkit-transition-duration:.15s;
	  transition-property:color, background-color, border-color;
    transition-duration:.15s;
}

a:hover {
    text-decoration:underline;
    color:red;

 }

.date {}

.ttag {
    color: gray;
    font-size: 0.9em;
}

.tags {
    font-style: italic;
    color: darkgray;
    font-size: 0.9em;
}

.tdate {
    font-style: italic;
    font-size: 0.6em;
    padding-top: .9em;
}

footer {
    font-size: 0.6em;
    color: darkgray;
    padding-top: 2em;
}

.title {
    font-size: 1.3em;
    padding-top: 1em;
    font-weight: bold;
}

.title-post {
    font-size: 2.1em;
    line-height: 1.2em;
    padding-top: 1em;
    font-weight: bold;
}

.blog-post-body {
    padding-top: 2em;
}

.pagination {
    font-size: 0.9em;
    text-align: center;
}

.disabled {
    display: none;
}

.readmore {
    text-decoration: underline;
}

.page {
    padding-top: 1.4em;
    width: 66%;
    padding-left: 3em;
}

.tablerepertorium {
    font-size: 1.2em;
}

.tabletitle {
    font-style: italic;
    vertical-align: top;
    border-bottom: 2em solid transparent;
    font-weight: bold;
    border-right: 0px solid black;
    /* padding-top:4em; */
}

.tablebody {
    border-bottom: 2em solid transparent;
    vertical-align: top;
    padding-left: 0.5em;
}

tr:nth-child(odd) {
    background-color: rgb(0,0,0, 0.02);
}
